@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  body > p {
    font-family: var(--font-texturina);
    font-weight: 200;
    font-style: normal;
  }

  h1, header >nav > li > a {
    font-family: var(--font-pirata);
    font-weight: 400;
  }
  .glass {
/* From https://css.glass */
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
  }

  .deblur {
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: transparent;
  }

  .hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    z-index: 99;
    }


}

.container {
  max-width: 100%;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

