@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  .glass {
/* From https://css.glass */
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
  }

  .deblur {
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: transparent;
  }

  .hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 99;
    }

    .burger {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      background: linear-gradient(to bottom left, cyan, pink, orange);
  
    }

}

.container {
  max-width: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

